
div{border:solid 3px #f00div{margin:0px; padding:0px; background:yellow;}; 
  padding:5px; 
  margin:5px;
  background-color: blue;}
#b1{background-color: yellow;}
#b2{background-color: blue;}
#b3{background-color: grey;martin:5px;width:25%;float:left;}
#b4{background-color: grey;martin:5px;width:50%;float:left;}
#b5{background-color: grey;martin:5px;width:13%;float:left;}
#b6{background-color: blue;clear:both;}
